<% include ./template/header %>

<div class="container mt-50">

	<div class="home-header">
		<span class="home-title">Snake and Ladder</span>
	</div>

	<hr>

	<div class="btn-box-container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="btn-box b_primary">
					Single Player
				</div>
				<div class="btn-box b_danger">
					Matchmaking
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

<% include ./template/footer %>