<!DOCTYPE html>
<html>
<head>
	<title>Snake and Ladder</title>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/fa/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/mqtt.min.js"></script>
  <script type="text/javascript" src="assets/js/game/global.js"></script>
  <script type="text/javascript" src="assets/js/game/game.js"></script>
  <script type="text/javascript" src="assets/js/game/multiplayer.js"></script>
</head>
<body>

<div class="container mt-50">
	<div class="row">
		<div class="col-md-9">
			<table class="table table-striped table-bordered main_table" id="main_table">
				<tbody>
					<img class="ladder1" src="assets/images/ladder.png">
					<tr class="col_10">
						<td  align="center" class="100" data-value="100"><i class="fa fa-flag"></i></td>		
					</tr>

					<tr class="col_9"></tr>
					<tr class="col_8"></tr>
					<tr class="col_7"></tr>
					<tr class="col_6"></tr>
					<tr class="col_5"></tr>
					<tr class="col_4"></tr>
					<tr class="col_3"></tr>
					<tr class="col_2"></tr>

					<tr class="col_1">
						<td  align="center" class="1" data-value="1">Start</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<div class="dice" align="center">
				<div class="row">
					<div class="col-md-12">
						<img src="assets/images/dice/dice-roll.gif" id="dice-roll" class="img-responsive hide">
						<img src="assets/images/dice/dice-6.png" id="dice-6" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-5.png" id="dice-5" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-4.png" id="dice-4" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-3.png" id="dice-3" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-2.png" id="dice-2" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-1.png" id="dice-1" class="img-responsive dice-number hide">
						<span id="dice_first">Roll</span>
					</div>
					<button type="button" id="btn-roll-dice" class="btn btn-info form-control mt-50">ROLL</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            
          </div>
          <div class="panel">
            <div class="panel-body">
              <h3>Players</h3>
              <hr>
              <div class="row" id="player_list">

              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
</script>


<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>