<% include ./template/header %>

<div class="container-fluid pd-a-20">
	<div class="row">
		<div class="col-md-3">
			<div class="other-player-container">
				<h3 class="header-title">PLAYERS</h3>
				<hr>
				<div id="other-player-list">
					
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<table class="table table-striped table-bordered main_table" id="main_table">
				<tbody>
					<img class="ladder1 hide" src="assets/images/ladder.png">
					<tr class="col_10">
						<td  align="center" class="100" data-value="100"><i class="fa fa-flag"></i></td>		
					</tr>

					<tr class="col_9"></tr>
					<tr class="col_8"></tr>
					<tr class="col_7"></tr>
					<tr class="col_6"></tr>
					<tr class="col_5"></tr>
					<tr class="col_4"></tr>
					<tr class="col_3"></tr>
					<tr class="col_2"></tr>

					<tr class="col_1">
						<td  align="center" class="1" data-value="1">Start</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<div class="dice" align="center">
				<div class="row">
					<div class="col-md-12">
						<img src="assets/images/dice/dice-roll.gif" id="dice-roll" class="img-responsive hide">
						<img src="assets/images/dice/dice-6.png" id="dice-6" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-5.png" id="dice-5" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-4.png" id="dice-4" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-3.png" id="dice-3" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-2.png" id="dice-2" class="img-responsive dice-number hide">
						<img src="assets/images/dice/dice-1.png" id="dice-1" class="img-responsive dice-number hide">
						<span id="dice_first">Roll</span>
					</div>
					<button type="button" id="btn-roll-dice" class="btn btn-info form-control btn-theme mt-50">ROLL</button>
        </div>
			</div>
		</div>
	</div>
</div>

<% include ./template/footer %>

