<% include ./template/header %>

<div class="container mt-50">

	<div class="home-header">
		<span class="home-title">Snake and Ladder</span>
	</div>

	<hr>

	<div class="btn-box-container">
		<div class="row">
			<div class="col-md-12">
        <center><h1>Room not found</h1></center>
        <center><h3> <a href="/">Home</a></h3></center>
      </div>
		</div>
	</div>
</div>

<% include ./template/footer %>